@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Open+Sans:wght@400;600&display=swap");
body {
  font-family: "Libre Baskerville", serif;
  font-family: "Open Sans", sans-serif;
}
.status-bar {
  display: flex;
  justify-content: center;
}
.status-bar_column {
  width: 33%;
}
.status-bar_column:first-child span {
  margin: 5px;
}
.status-bar_column:nth-child(2) span {
  display: flex;
  justify-content: center;
}
.status-bar_column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar_column .fa-battery-full {
  margin: 0px 5px;
}
